body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    overflow: hidden;
}
h1{
    color: rgb(255, 43, 43);
    letter-spacing: 10px;
    font-size: 1.9rem;
    text-shadow: 12px 12px 2px black;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.form {
    background-color: white;
    padding: 2rem;
    margin: 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 15px 14px 18px black;
}
.form h2{
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    text-align: center;
}

.input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: solid 4px green;
    color: green;
}

.btn {
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    ;
}

.input:hover {
    background-color: rgb(101, 196, 101);
    color: white;
}

.input::placeholder {
    color: lightgray;
    font-family: cursive;
}

.btn {
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  
  .btn:hover {
    filter: brightness(0.9);
  }
  
  .score {
    color: green;
    text-align: right;
    font-size: 20px;
  }